html {
  background-color: #313236;
  
}

body {

	background-color: #313236;
	position : relative;

}
 

h1 { 	
	color: #FE9A2E;
	text-shadow: 3px 3px 1px black;
	border-bottom: 2px solid; 
	padding: 5px;
	width:99%;
	margin: 0;

} 

h2 { 
	margin: 0;
	padding: 20px 0;    
	color: white;
	text-shadow: 3px 3px 1px black;
}

h3 { 
  padding: 20px 0;    
  color: #FE9A2E;
  text-shadow: 3px 3px 1px black;
  border-bottom: 2px solid; 
  width:75%;
  
}
h6 {
	padding: 20px 0;    
	color: #FE9A2E;
	text-shadow: 3px 3px 1px black;
	border-bottom: 2px solid; 
	width:80%;
	margin-left:4rem;
	font-size:20px;
	
}
p {   
  color: orange;
  max-width: 920px;
  padding:5px;
}

b {
	padding:5px;
}


a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:focus {

  background: #BAE498;

}

a:hover {
    
  background: none;
  color: red;
}

a:active {
  background: none;
  color: white;
}



.navbar {
  background-color: #343A40;
  border-radius: 2px;
  margin-top:5px;
 

}

.navbar .dropdown-menu {
  position: static;
  float: none;
  background: black;
 
}

.dropdown-menu .dropdown-item:active {
background-color:orange;
color:#343A40;

}

.nav-link.active {
  background-color:black !important;
  color: red !important;
  border:none !important;
}

.nav-link:hover{
	 border:none !important;
	 color:orange;
}

.navbar-toggler{
	
	background-color:orange;
}

#navbar-example3
{
	
	position:relative;
	width:150px;
	height:350px;
	padding:none;
	margin-left:20px;
	margin-right: 5px;
	
}

#navbarDropdown
{
	
	color:white;
}

article {
	
	margin-left:4rem;
	margin-top:4rem;
}

.accordion {
	
	color : black;
	line-height: 0.4;
	padding: 0 40px;
	height: 50 px;
	max-width: 1000px;
	margin-top:none;
	margin-bottom:3rem;
	
	
	
	
}

.alert {
	max-width: 920px;
	position: relative;
	left: 40px;
	margin-top:10px;
	
	
}

.box {
	margin-top: 3rem;
	margin-right: 2rem;
	margin-left: 2rem;
	
	
	}
	
.card{
	color : orange;
	background: #343A40;
	line-height: 2.4;
	margin-bottom: 15px;
	margin-top: 3rem;
	border-radius: 3px;
	padding: 2px;
	margin-left:0px;
	margin-right:0px;
	height:90%;
	
	
}

.container{
	
	background-color:#313236;
	margin-top:30px;
	

}


.carousel
{
	margin-left:10px;
	margin-right:10px;
}


.carousel-inner{

	overflow: hidden;
	max-height: 350px;
}



.dropdown-toggle:hover
{
	color:orange !important;
}

.display-2
{
	border-bottom: double 8px ;
}


.btn-link 
{
	width: 100%;
	height: 30px;
	font-weight: bold;
	font-size: 25px;
	color:orange;
	
	
	
}

.btn-link:hover
{
	
	color:red;
	border-color:none;
	
}


.btn-link:focus
{
	
	outline:none !important;
	box-shadow: none !important;
	
}


.btn-primary
{
	
	margin-bottom: 15px;
	background-color:#343A40;
	color:orange;
	border-color:white;
}



 .btn-primary:hover 
{
	
	background-color: black;
	color: red;
	border-color:white;
}



.btn-primary:focus
{
    background-color: orange;
	color:#343A40;
	border-color:#343A40 !important;
	outline:none !important;
	box-shadow: none !important;
	
}




.btn-primary:not(:disabled):not(.disabled):active
{
    background-color: orange;
	color:#343A40;
	border-color:#343A40 !important;
	box-shadow:none;
	
	
}

.btn-secondary {
	
	margin-left:300px;
	background-color:#343A40;
	color:orange;
	border-color:white;
	
}

.btn-secondary:hover {
	
	background-color:black;
}




.fa-instagram-square
{
	color:orange;
}

.fa-facebook-square
{
	color:orange;
	}
	
.fa-whatsapp-square 
	{
	color:orange;
	}
	
.fa-bootstrap
	{
	color:orange;
	}
	
.fa-arrow-circle-right
{
	float:left;
	color:orange;
	margin-right:25px;
}

.fa-home{
	margin-top: 5px;
	margin-bottom:10px;
	color:orange;
	position: absolute; right: 5px; 
	
}
.fa-home:hover{
	
	background-color:black;
	color:red;
	
}
.figure-caption{
	
	text-align:left;
	margin-left:40px;
	color:orange;
}
.editoren{
	

	float:left;
	margin: 40px;
}

#Bild-1 {
	animation-delay: 0;
}


#Bild-2 {
	animation-delay: 1s;
}


#Bild-3 {
	animation-delay: 2s;
}


#Bild-4 {
	animation-delay: 3s;
}


#Bild-5 {
	animation-delay: 4s;
}

#orgatitle {
	
	margin-top: 5rem;
	width:99%;
}

#ImpressumHead
{
	width:99%;
}


#gesperrt{
	color:white;
	background-color:#A4A4A4;
}

#gesperrt1{
	color:white;
	background-color:#A4A4A4;
}


#nochmalBtn{
	
	float:right;
	margin-right:12rem;
	margin-top:6rem;
}

.jumbotron{
	
	background-color:#313236;
}

.list-group {
	position : relative;
	background-color:#343A40;

}


.list-group-item 
{

	background-color:#343A40;
	color:orange;
}

.media
{
	color:orange;
}


.ohneHintergrund:hover
{
	background-color:#313236;
}


.pagination{
	
	margin-top:5rem;
	
	
}

.pagination > li > a
{
	background-color:#343A40;
	color:orange;
}

.pagination .page-link {
	
	border: none;
}


.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover

{
	background-color:black;
	color:red;
	outline:none !important;
	box-shadow: none !important;
}

.scrollspy-example 
{
	position : relative;
	overflow-y: scroll;
	height:350px;
	width: 100%;
	background-color:#343A40;
	margin-bottom: 25px;
	margin-right:10px;
	margin-left:none;



}

.scrollspy-example p
{
	color:white;
}

.scrollspy-example h5
{
	color:orange;
	margin-left: 5px; 
}

.table-responsive
{
	
	margin-left: 20px;
	margin-right: 20px;
	padding:20 px;
	width:95%;

}

.text-light:hover{
	
	color:orange !important;
}



@media screen and (max-width:550px){
		

.navbar{

		display:block;
	}
	
.alert{
	display:block;
	margin-left:25px;
	margin-right:7rem;
	margin-top:40px;
	text-align:center;
		
		
	}
	
.card{
	display:block;

	
	
}
	
.accordion {
	display:block;
	margin-right:70px;

				
}
	
.btn-secondary{
	margin-left:5px;
	margin-top:15px;
	display:block;
}

	
.btn-link{
		
	height:90px;
}
		
.btn-block{
	
	height:140px;

}


.fa-arrow-circle-right{
	display:block;
	margin-left:1rem;

}
.media{
	
	display:block;
}


.test
{
	margin-right:5rem;
}

#Bild-3 {
	margin-left:15px;
}


#Bild-4 {
	margin-left:15px;
}


#Bild-5 {
	margin-left:15px;
}

#collapseExampleX{
	
	margin-right:1rem;
	width:80%;

}

#collapseExample{
	
	margin-right:1rem;
	width:80%;
}


#navbar-example3{
	margin-bottom:50px;
	
}

#nochmalBtn{
	
	float:right;
	margin-right:1rem;
	margin-top:6rem;
}

article{
	
	margin:15px;
}

h6{
	margin-left:15px;
}
}

@media screen and (max-width:900px){
	
	
.accordion {
display:block;
margin-right:70px;
		
}

.alert{
display:block;
margin-left:none;
margin-right:7rem;
margin-top:40px;


}

 .card {
	display:block;
	
	width:100%;
}

.btn-secondary{
	
	margin-left:5px;
	margin-top:15px;
	display:block;
}
	

	
#collapseExampleX{
	
	margin-right:1rem;

}
#collapseExample{
	
	margin-right:10rem;
	margin-left:1px;
}
}
